@import views.html.libraryItems.layout
@(libraryItems: List[LibraryItem])

@layout("Library Management System") {

    <h1>Library Management System </h1>
    <a href="@routes.ReaderController.create()">Add Reader</a>
    <a href="@routes.BookController.create()">Add Book</a>
    <a href="@routes.DvdController.create()">Add Dvd</a>
    <br><br>
    <input type="text" placeholder="Search.." name="search">
    <button type="submit" onclick="removeMyCar()">SEARCH</button>

    <br><br>

    @if(libraryItems.isEmpty) {
        <strong>No books available.</strong>
    } else {
        <h1>All Items</h1>

        @for(item <- libraryItems) {
            <a href="@routes.MainController.show(item.getIsbn())">@item.getTitle()</a>
            <p>Sector : @item.getSector()</p>
            <p>Published Date : @item.getPublishedDate()</p>
        }

    }
}
