@import models.Book
@import views.html.libraryItems.layout
@(bookForm : Form[Book], readerList: List[Reader])
@import helper._

@layout("Burrow Book") {
    <h1>@{bookForm("title").value}</h1>
    @helper.form(action = routes.BookController.update()) {

        <input type="hidden" id="@{bookForm("isbn").id}" name="@{bookForm("isbn").label}" value="@{bookForm("isbn").value}">
        <input type="hidden" id="@{bookForm("title").id}" name="@{bookForm("title").label}" value="@{bookForm("title").value}">
        <input type="hidden" id="@{bookForm("sector").id}" name="@{bookForm("sector").label}" value="@{bookForm("sector").value}">
        <input type="hidden" id="@{bookForm("publishedDate").id}" name="@{bookForm("publishedDate").label}" value="@{bookForm("publishedDate").value}">
        <input type="hidden" id="@{bookForm("author").id}" name="@{bookForm("author").label}" value="@{bookForm("author").value}">
        <input type="hidden" id="@{bookForm("publisher").id}" name="@{bookForm("publisher").label}" value="@{bookForm("publisher").value}">
        <input type="hidden" id="@{bookForm("pages").id}" name="@{bookForm("pages").label}" value="@{bookForm("pages").value}">


        @if(readerList.isEmpty) {
            <strong>No readers available !</strong>
        } else {
            <label>Reader: </label>
            <select id="@{bookForm("reader").id}" name="@{bookForm("reader").label}">

            @for(reader <- readerList) {
                <option value="@reader.getId">@reader.getName</option>
            }
            </select>
            <br><br>
            <label>Burrowed date/time: </label><br>
            <input type="text" id="@{bookForm("dateTime").id}" name="@{bookForm("dateTime").label}" value="@{bookForm("dateTime").value}">

            <input type="submit" value="Burrow Book">

        }

    }
}
