@import models.Dvd
@import views.html.libraryItems.layout
@(dvdForm : Form[Dvd], readerList: List[Reader])
@import helper._

@layout("Burrow Dvd") {
    <h1>@{dvdForm("title").value}</h1>
    @helper.form(action = routes.DvdController.update()) {

    <input type="hidden" id="@{dvdForm("isbn").id}" name="@{dvdForm("isbn").label}" value="@{dvdForm("isbn").value}">
    <input type="hidden" id="@{dvdForm("title").id}" name="@{dvdForm("title").label}" value="@{dvdForm("title").value}">
    <input type="hidden" id="@{dvdForm("sector").id}" name="@{dvdForm("sector").label}" value="@{dvdForm("sector").value}">
    <input type="hidden" id="@{dvdForm("cast").id}" name="@{dvdForm("cast").label}" value="@{dvdForm("cast").value}">
    <input type="hidden" id="@{dvdForm("languages").id}" name="@{dvdForm("languages").label}" value="@{dvdForm("languages").value}">
    <input type="hidden" id="@{dvdForm("subtitles").id}" name="@{dvdForm("subtitles").label}" value="@{dvdForm("subtitles").value}">

        @if(readerList.isEmpty) {
            <strong>No readers available !</strong>
        } else {
            <label>Reader: </label>
            <select id="@{dvdForm("reader").id}" name="@{dvdForm("reader").label}">

            @for(reader <- readerList) {
                <option value="@reader.getId">@reader.getName</option>
            }
            </select>
            <br><br>
            <label>Burrowed date/time: </label><br>
            <input type="text" id="@{dvdForm("dateTime").id}" name="@{dvdForm("dateTime").label}" value="@{dvdForm("dateTime").value}">
            <input type="submit" value="Burrow Dvd">
        }
    }
}
